@import "bootstrap/bootstrap.less";
@import "variables.less";
@import "syntax.less";

#content-info {
  text-align: center;
  padding: 15px 0;
  margin-top: 15px;
  border-top: 3px solid @gray;
}

.title {
  margin-top: 0;
}

.meta {
  @meta-color: lighten(@zen-gray, 25%);
  color: @meta-color;

  a {
    color: @meta-color;

    &:hover,
    &:focus {
      color: @link-hover-color;
    }
  }

  li {
    .fa {
      margin-right: 0.75em;
    }
  }

  .popover {
    color: @text-color;

    a {
      color: @link-color;
    }
  }
}


.post-list {
  .title {
    margin-top: 10px;
    font-size: @font-size-h4;
  }

  p {
    color: @text-color;
    margin: 0;
  }

  > li > a {
    &:hover,
    &:focus {
      background-color: @gray;
    }
  }

  .meta {
    padding: @nav-link-padding;
    padding-top: 0;
  }
}

.hentry {
  header {
    text-align: center;
    border-bottom: 1px solid @gray;
    margin-bottom: @line-height-computed;
  }
}

.toc {
  float: right;
  font-size: 0.9em;
  max-width: 15em;
  margin-left: 15px;

  h3 {
    margin-top: 0;
  }

  ul {
    list-style: none;
    padding-left: 1em;
  }

  > ul {
    padding-left: 0;
  }

  a {
    display: block;
  }
}

.entry-content {
  img {
    @img-margin: 10px;

    &.pull-right {
      margin-left: @img-margin;
    }

    &.pull-left {
      margin-right: @img-margin;
    }
  }
}

// Default styling makes the footnotes too small to easily click
.footnoteRef {
  color:     @zen-red;
  font-size: @font-size-base;

  sup {
    &:before {
      content: "["
    }

    &:after {
      content: "]"
    }
  }
}

pre {
  border: none;
  margin: 0;
  margin-bottom: (@line-height-computed / 2);

  code {
    white-space: pre;
  }
}

.sourceCode {
  pre&,
  table& {
    margin-bottom: (@line-height-computed / 2);
  }

  table& {
    border-radius: @border-radius-base;
  }

  .lineNumbers pre {
    padding: 0;
    margin-bottom: 0;
  }

  .sourceCode pre {
    margin-bottom: 0;
  }

  td.lineNumbers, td.sourceCode {
    vertical-align: middle;
  }

  &:before {
      content: attr(caption);
      font-weight: bold;
  }
}

// All images responsive
img { .img-responsive }

// Inspired by StackOverflow's style
kbd {
  padding: 0.1em 0.6em;
  border: 1px solid @gray-dark;
  background-color: @gray-darker;
  .box-shadow(0 1px 0 rgba(0, 0, 0, 0.3));
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  line-height: 1.4;
}
