// Zenburn
// --------------------------------------------------

@zen-gray-dark:     rgb( 31,  31,  31); // #1f1f1f
@zen-gray:          rgb( 63,  63,  63); // #3f3f3f
@zen-gray-light:    rgb(204, 204, 204); // #cccccc

@zen-blue:  rgb(140, 208, 211); // #8cd0dc3
@zen-green: rgb(108, 156, 108); // #6c9c6c
@zen-peach: rgb(220, 163, 163); // #dca3a3
@zen-sand:  rgb(220, 220, 204); // #dcdccc
@zen-red:   rgb(204, 147, 147); // #cc9393

@zen-raspberry:   rgb(188,  76, 108); // #bc4c6c


// Global values
// --------------------------------------------------


// Grays
// -------------------------

@gray-darker:            lighten(#000, 13.5%); // #222
@gray-dark:              lighten(#000, 20%);   // #333
@gray:                   lighten(#000, 33.5%); // #555
@gray-light:             lighten(#000, 60%);   // #999
@gray-lighter:           lighten(#000, 93.5%); // #eee

// Brand colors
// -------------------------

@brand-primary:         #428bca;
@brand-success:         #5cb85c;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
@brand-info:            #5bc0de;

// Scaffolding
// -------------------------

@body-bg:               @zen-gray;
@text-color:            @zen-gray-light;

// Links
// -------------------------

@link-color:            @zen-blue;
@link-hover-color:      darken(@link-color, 15%);

// Typography
// -------------------------

@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       "Merriweather", Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   "Inconsolata", Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-serif;

@font-size-base:          18px;

@line-height-base:        1.6;


// Buttons
// -------------------------

@btn-default-color:              @text-color;
@btn-default-bg:                 @gray-dark;
@btn-default-border:             @btn-default-bg;

@btn-primary-color:              @btn-default-color;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             @btn-primary-bg;

@btn-success-color:              @btn-default-color;
@btn-success-bg:                 @brand-success;
@btn-success-border:             @btn-success-bg;

@btn-warning-color:              @btn-default-color;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             @btn-warning-bg;

@btn-danger-color:               @btn-default-color;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              @btn-danger-bg;

@btn-info-color:                 @btn-default-color;
@btn-info-bg:                    @brand-info;
@btn-info-border:                @btn-info-bg;


// COMPONENT VARIABLES
// --------------------------------------------------

// Jumbotron
// -------------------------

@jumbotron-bg:                   @gray-dark;


// Type
// ------------------------
@text-muted:                  @gray-light;
@abbr-border-color:           @gray-light;
@headings-small-color:        @gray-light;
@blockquote-small-color:      @gray-light;
@blockquote-border-color:     @zen-green;
@page-header-border-color:    @gray-lighter;

@popover-bg:                  @gray;
@popover-max-width:           500px;

// Miscellaneous
// -------------------------

// Hr border color
@hr-border:                   @gray;

// Horizontal forms & lists
@component-offset-horizontal: 180px;


// Container sizes
// --------------------------------------------------

// Small screen / tablet
@container-tablet:          37em;

// Medium screen / desktop
@container-desktop:         @container-tablet;

// Large screen / wide desktop
@container-large-desktop:      @container-desktop;
