<ul class="list-inline">
  <li><h1 class="title">$title$</h1><li>
  <li class="meta">
    <a tabindex=0 role="button" data-toggle="popover" data-trigger="focus"
      data-html=true data-placement="bottom"
      data-content="<p>Last Modified: <time datetime='$date-modified-machine$'>$date-modified$</time></p><i class='fa fa-code-fork fa-fw'></i><a href='https://gitlab.com/doshitan/doshitan.com/commits/master/$path$'>History</a>"
      >
      <i class="fa fa-clock-o fa-fw"></i>
    </a>
  </li>
</ul>

$partial("templates/toc.html")$

$body$
