<ul class="nav nav-pills nav-stacked post-list">
    $for(posts)$
      <li>
        <a href="$url$">
          <h3 class="title">$title$</h3>
          <p>$meta-description$</p>
        </a>

        $partial("templates/entry-meta.html")$
      </li>
    $endfor$
</ul>
