<article class="hentry">
  <header>
    <h1 class="title">$title$</h1>
    $partial("templates/entry-meta.html")$
  </header>

  $partial("templates/toc.html")$

  <div class="entry-content">
    $body$
  </div>
</article>
