<ul class="list-inline">
  <li><h1 class="title">$title$</h1><li>
  <li class="meta">
    <a tabindex=0 role="button" data-toggle="popover" data-trigger="focus"
      data-html=true data-placement="bottom"
      data-content="<p>Last Modified: <time datetime='$date-modified-machine$'>$date-modified$</time></p><i class='fa fa-code-fork fa-fw'></i><a href='https://gitlab.com/doshitan/doshitan.com/commits/master/$path$'>History</a>"
      >
      <i class="fa fa-clock-o fa-fw"></i>
    </a>
  </li>
</ul>

<ul class="list-inline">
  <li><a role="button" class="btn btn-default" href="$source-url$">Source</a><li>
  $for(extra-links)$
    <li><a role="button" class="btn btn-default" href="$url$">$name$</a><li>
  $endfor$
</ul>

<!-- $partial("templates/toc.html")$ -->

$body$

$if(posts)$
<h2>Recent Posts for $title$</h2>

$partial("templates/post-list.html")$

<a href="$all-posts-url$" class="btn btn-default btn-lg btn-block">All Posts for $title$</a>
$endif$
